{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label" for="id_username">Usuário:</label>
                    <input type="text" name="username" class="form-control">
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="id_password">Senha:</label>
                    <input type="password" name="password" class="form-control">
                </div>

                <button class="btn btn-warning w-100" type="submit">Entrar</button>
            </form>

            <div class="text-center mt-3">
                <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
