# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3


# VS Code
.vscode/

# MacOS
.DS_Store

# Env files
.env
.env.*

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py~
*.sqlite3
